node_modules

# Ignore node modules
frontend/node_modules/
frontend/.env
server/node_modules/
server/.env
server/logs/

# Ignore Python cache files
backend/venv
backend/__pycache__/
backend/*.pyc
backend/model

# VS Code settings
.vscode/

.DS_Store
.env
*.log
